.logo{
    margin-top: 10px;
    width: 250px;
    margin-left: 40px;
}
.navbar{
    background-color: #27323a;
    height: 140px;
    margin-top: -16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul{
    margin-right: 50px;
    padding-top: 12px;
}

.navbar ul li a{
    text-decoration: none;
    color: #F5F5F5;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #F47933;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.navbar ul li:hover::after{
    width: 100%;
}

.title_{
    font-family:'Courier New', Courier, monospace;
    font-size: large;
    margin-left: 37%;
}

.card1 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 25%;
    height: 15%;
    margin-top: 50px;
    margin-left: 40px;

}
.card1:hover {
  box-shadow: 0 8px 25px 0 rgba(0,0,0,0.2);
}
.card1 ul{
    margin-left: -30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 20px;
}
.card1 ul li{  
    margin: 0 20px;
    position: relative;
}

.card2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 27%;
    height: 15%;
    margin-top: -328px;
    margin-left: 550px;

}
.card2:hover {
  box-shadow: 0 8px 25px 0 rgba(0,0,0,0.2);
}
.card2 ul{
    margin-left: -30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 20px;
}
.card2 ul li{  
    margin: 0 20px;
    position: relative;
}

.card3 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 25%;
    height: 5%;
    margin-top: -328px;
    margin-left: 1060px;

}
.card3:hover {
  box-shadow: 0 8px 25px 0 rgba(0,0,0,0.2);
}
.card3 ul{
    margin-left: -30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 20px;
}
.card3 ul li{  
    margin: 0 20px;
    position: relative;
}
